// анимация появления текста
@keyframes animated-text{
  from {
    width: 0;
  }

  to {
    width: 304px;
  }
}

// анимация появления блоков
@keyframes animated-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// анимация сжатия картинки 
@keyframes foo {
  0% {
    flex-grow: 1;
  }

  50% {
    flex-grow: 3;
  }

  100% {
    flex-grow: 1;
  }
}